<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.recipe_app" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".client.RecipeApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >

        <activity
            android:name=".client.HomeActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:theme="@android:style/Theme.Holo.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".client.RecipeActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Holo.NoActionBar">
            <intent-filter>
                <!-- Sets the intent action to view the activity -->
                <!--Only viewable action. Others like send...-->
                <action android:name="android.intent.action.VIEW" />
                <!-- Allows the link to be opened from a web browser. e.g: launcher would create icon in home page etc... -->
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Allows the deep link to be used without specifying the app name -->
                <category android:name="android.intent.category.DEFAULT" />
                <!-- URI tutsplus://deeplink -->
                <!--<data android:scheme="tutsplus" android:host="deeplink"/>-->
                <data android:scheme="https" android:host="google.com"/>
                <!-- URI http://www.mydeeplink.com --> <!--android:pathPrefix="/recipe"-->
                <data android:scheme="http" android:host="google.com" />
            </intent-filter>
        </activity>

        <provider
            android:name=".client.content_provider.RecipeContentProvider"
            android:authorities="com.recipe_app" >
        </provider>
    </application>

</manifest>
